# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Scary-Horror-Game.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\kawaz\Desktop\Unity\Scary-Horror-Game\.idea\.idea.Scary-Horror-Game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
